/* Validated @ http://jigsaw.w3.org/css-validator on xx-xx-xxxx */

* {
  box-sizing: border-box;                                                        /*The value border-box forces the padding and borders into the width and height instead of expanding it */
}

/*************************************
Element Styles
**************************************/

body {
  background-blend-mode: overlay;
  background-color: #955829;
  background-image: url("../img/print.png");
  background-size: cover;
  font-family:arial, verdana, helvetica;
  padding: 1em;
  min-width: 320px;
}

header {
  background-image: linear-gradient(sienna, lightyellow);
  border-bottom: solid 2px;
  margin-top: 0;
  padding: .5em 0 2.8em 0;
}


/*************************************
Class Styles
**************************************/

.activityBtn {
  margin: 20px;
  padding: 10px;
  width:80%;
}

.center {
  margin: 0;
  text-align: center;
}

.commonMarginPadding {
  margin: 2px;
  padding: 2px;
}

.content {
  background-color: white;
  margin: .5em;
  padding: .5em;
}

.inlineBlck {
    display: inline-block;
}

.mobileBtnCenter {
  display: block;
  margin-left:auto;
  margin-right:auto;
}

.mobileCenter {
  text-align: center;
}

.mobileJustify {
  text-align: justify;
}

.navbar {
  list-style: none;
  margin: .5em;
  padding-left: 0;
  text-align: center;
}

.navbar li {
  border-radius: 5px;
  margin-left: 2px;
  margin-right: 2px;
  margin-bottom: 14px;
}

.navbar li:not(:first-child) {
  display: none;
}

.navbar li:first-child {
    background-color: white;
    float: left;
    padding: 9px 12px;
    text-align: center;
    text-decoration: none;
}

.navbar li a:first-child {
  color: black;
}

.req {
  float: left;
  margin: 2px 0px 0px 20px;
}

.reqClar {
  color: red;
  display:none;
  font-style: italic;
}

.reqDesc {
  overflow: hidden;
  padding: 0px 0px 0px 10px;
}

 .navbarresponsive {
  margin-top: 10px;
  float: none;
  display: block;
  text-align: left;
  list-style-type: none;
}

.sticky {

  background-color: #955829;
  border: thin;
  left:3%;
  margin: 0;
  padding-top: .75em;
  position: fixed;
  top: 0;
  width:94%;
}

.wrapper {
  border-style: solid;
  margin-top: 0 auto;
  padding-left: .25em;
  padding-right: .25em;
}


/******************************
 ID Styles
 *****************************/
#headerTitle {
  text-align: center;
  margin: .5em 0em .5em 0em;
}

#hideBtn {
  display: none;
}

#icon {
  display: inline-block;
  float: right;
  margin-top: 2px;
  padding-top: 5px;
}

#blogReader {
    overflow: scroll;
    height:600px;
  }

#myProfileImgContent {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#reqList {
  list-style:none;
  padding-left: 1em;
}

/******************************************
  Media Queries
****************************************** */

@media only screen and (min-width: 880px)     {

  /*************************************
  Element Styles
  **************************************/

 body {
    width: 80%;
    margin: 1em auto;
    max-width: 1500px;
    background-color: #955829;
    background-image: url();
    background-blend-mode: ;
    background-size: ;
  }

  header {
    background-image: linear-gradient(sienna, lightyellow);
    border-bottom: solid 2px;
    margin-top: 0;
    padding: .5em 0 0 0;
  }
  /*************************************
  Class Styles
  **************************************/

  .navbar {
    overflow: hidden;
    margin-bottom: 0;
  }

  .navbar li {
    margin-bottom:7px;
  }

  .navbar li:first-child {
  display: inline-block;
  float: left;
  background-color: white;
  padding: 9px 12px;
  text-decoration: none;
  margin-top: 8px;
  }

  .navbar li:not(:first-child) {
  display: inline-block;
  float: right;
  background-color: white;
  padding: 9px 12px;
  text-decoration: none;
  margin-top: 8px;
  }

  .sticky {
    position: fixed;
    top: 0;
    left: 12%;
    width: 76%;
  }


  /*************************************
  ID Styles
  **************************************/
  #btnClar {
    float: right;
    margin-top: 1.25em;
    margin-right: 2em;
  }

  #headerTitle {
    /* display:inline-block; */
    margin:10px 0 0 0;
    padding-top:8px;
  }

  #icon {
    display:none;
  }

  #reqH3 {
    display: inline-block;
  }

  #myProfileImgContainer,
  .swing {
    display: inline-block;
    width: 48%;
    vertical-align: top;
    padding-left: 0;
    padding-right: 0;
  }

  #myJournalEntries {
    border-style:none;
  }

}

-------------

/* Add a black background color to the top navigation */
/* .topnav {
  background-color: #333;
  overflow: hidden;
} */

/* Style the links inside the navigation bar */
/* .topnav a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
} */

/* Change the color of links on hover */
/* .topnav a:hover {
  background-color: #ddd;
  color: black;
} */

/* Add an active class to highlight the current page */
/* .active {
  background-color: #4CAF50;
  color: white;
} */

/* Hide the link that should open and close the topnav on small screens */
/* .topnav .icon {
  display: none;
} */

/* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
/* @media screen and (max-width: 600px) {
  .topnav a:not(:first-child) {display: none;}
  .topnav a.icon {
    float: right;
    display: block;
  }
} */

/* The "responsive" class is added to the topnav with JavaScript when the user clicks on the icon. This class makes the topnav look good on small screens (display the links vertically instead of horizontally) */
/* @media screen and (max-width: 600px) {
  .topnav.responsive {position: relative;}
  .topnav.responsive a.icon {
    position: absolute;
    right: 0;
    top: 0;
  }
  .topnav.responsive a {
    float: none;
    display: block;
    text-align: left;
  }
}   */
