/* Validated @ http://jigsaw.w3.org/css-validator on 03-01-2019 */

* {
  box-sizing: border-box;                                                        /*The value border-box forces the padding and borders into the width and height instead of expanding it */
}

/*************************************
Element Styles
**************************************/

body {
  font-family:arial, verdana, helvetica;
  padding: 1em;
  min-width: 320px;
  /* max-height: 800px; */
}

header {
  background-image: linear-gradient(sienna, lightyellow);
  border-bottom: solid 2px;
  margin-top: 4px;
  padding: .5em 0 2.8em 0;
}

figure {
  margin: auto;
}

/*************************************
Class Styles
**************************************/

.commonMarginPadding {
  margin: 2px;
  padding: 2px;
}

.content {
  background-color: white;
  margin: .5em 0em;
  padding: .5em;
}

.displayHide {
  display: none;
}

.displayBlock {
  display: block;
}

.inlineBlck {
  display: inline-block;
}

.mobileCenter {
  text-align: center;
}

.mobileJustify {
  text-align: justify;
  margin-top: 0;
  padding-top: 0;
}

.navbar {
  list-style: none;
  margin: .5em;
  padding-left: 0;
  text-align: center;
}

.navbar li {
  border-radius: 5px;
  margin: 0px 2px 14px 2px;
}

.navbar li:first-child {
    background-color: white;
    float: left;
    padding: 9px 12px;
    text-align: center;
    text-decoration: none;
}

.navbar li:not(:first-child) {
  display: none;
}

.navbar li a:first-child {
  color: black;
}

.navSpace {
  padding: 10px;
  margin-bottom: 12px;
}

.navbarresponsive {
 display: block;
 float: none;
 list-style-type: none;
 margin-top: 10px;
 padding-left: 8px;
 text-align: left;
 width: 96%;
}

.req {
  float: left;
  margin: 2px 0px 0px 20px;
}

.reqClar {
  color: red;
  display:none;
  font-style: italic;
}

.reqDesc {
  overflow: hidden;
  padding: 0px 0px 0px 10px;
}


.sticky {

  background-color: #955829;
  border: thin;
  left:3%;
  margin: 0;
  padding-top: .75em;
  position: fixed;
  top: 0;
  width:94%;
  opacity: .98;
 }

.wideFormat {
  display:none;
}

.wrapper {
  border-style: solid;
  padding-left: .25em;
  padding-right: .25em;
  margin-bottom: 12px;
}


/******************************
 ID Styles
 *****************************/
#btnClar {
  margin: 0 auto;
}

#bodyIndex {
  background-blend-mode: overlay;
  /* background-image: linear-gradient(sienna, lightyellow); */
  background-color: #955820;
  background-image: url("../img/print.png");
  background-size: cover;
}

#headerTitle {
  text-align: center;
  margin: .5em 0em .5em 0em;
}

#hideBtn {
  display: none;
}

#icon {
  display: inline-block;
  float: right;
  margin-top: 2px;
  padding-top: 5px;
}

#blogReader {
    overflow: scroll;
    height:600px;
  }

#myProfileImgContent {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
}

#reqList {
  list-style:none;
  padding-left: 1em;
}

/******************************************
  Media Queries
****************************************** */

@media only screen and (min-width: 880px)     {

  /*************************************
  Element Styles  Media Queries
  **************************************/

 body {
    width: 80%;
    margin: 1em auto;
    max-width: 1500px;
  }

  header {
    background-image: linear-gradient(#ffcc99, #ffcc99);
    border-bottom: solid 2px;
    margin-top: 6px;
    padding: .5em 0 0 0;

  }
  /*************************************
  Class Styles   Media Queries
  **************************************/

  .navbar {
    overflow: hidden;
    margin-bottom: 0;
  }

  .navbar li {
    margin-bottom:7px;
  }

  .navbar li:first-child {
  display: inline-block;
  float: left;
  background-color: white;
  padding: 9px 12px;
  text-decoration: none;
  margin-top: 8px;
  }

  .navbar li:not(:first-child) {
  display: inline-block;
  float: right;
  background-color: white;
  padding: 9px 12px;
  text-decoration: none;
  margin-top: 8px;
  }

  .sticky {
    position: fixed;
    top: 0;
    left: 12%;
    width: 76%;
  }

  .swing {
    display: inline-block;
    /* width: 48%; */
    vertical-align: top;
    padding-left: 0;
    padding-right: 0;
  }

  .wideFormat {
    display:inline-block;
    float: right;
    width: 48%;
    height: 100%;
  }




  /*************************************
  ID Styles  Media Queries
  **************************************/
  #bodyIndex {
    /* background-blend-mode: overlay; */
    background-image: linear-gradient(sienna, lightyellow);
    /* background-color: white; */
  }

  #headerTitle {
    /* display:inline-block; */
    margin:10px 0 0 0;
    padding-top:8px;
  }

  #myProfileImgContent {
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
    width: 48%;
  }


  #reqH3 {
    display: inline-block;
  }



}
